<div class="grid-container grid-x grid-padding-x">
  <div class="cell medium-3 large-2 large-offset-1 section-icon">
    <svg class="icon-people">
      <use xlink:href="{{ theme.link }}/static/dist/img/icons-sprite.svg#icon-people">
      </use>
    </svg>
  </div>
  <div class="cell medium-9 large-7 large-offset-1">
    {{ page.content }}
  </div>
</div>
