<div class="grid-container grid-x align-spaced">
  <div class="cell">
    {{ page.content }}

    <div class="legal-notice">
      {{ page._impet_price_list_legal_notice }}
    </div>
  </div>

  <div class="cell medium-5 align-self-top">
    <h3 class="products-origin">Węgiel polski</h3>
    {% include '/partial/product-table.twig'
       with {products: products.polish} %}
  </div>

  <div class="cell medium-5 align-self-top">
    <h3 class="products-origin">Węgiel importowany</h3>
    {% include '/partial/product-table.twig'
       with {products: products.imported} %}
  </div>

</div>
