<div class="grid-container grid-x grid-padding-x">
  <div class="cell medium-9 large-8 large-offset-1">
    {{ page.content }}
  </div>
  <div class="cell shrink section-icon">
    <svg class="icon-truck">
      <use xlink:href="{{ theme.link }}/static/dist/img/icons-sprite.svg#icon-truck">
      </use>
    </svg>
  </div>
</div>
