{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content">
      <div class="article-body">
        {% for page in pages %}
          {% if page.thumbnail %}
            {% include "partial/section-image.twig" %}
          {% endif %}

          {% if page.slug == 'o-nas' or page.slug == 'uslugi' %}
            {% include "partial/section-generic.twig" %}
          {% elseif page.slug == 'cennik' %}
            {% include "partial/section-price-list.twig" %}
          {% elseif page.slug == 'kontakt' %}
            {% include "partial/section-contact.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
