{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}
  {% for page in pages %}

    {% if page.thumbnail %}
      {% include "partial/section-image.twig" %}
    {% endif %}

    <section class="page {{ page.slug }}">
      {% if page.slug == 'o-nas' %}
        {% include "/partial/section/section-about.twig" %}
      {% elseif page.slug == 'uslugi' %}
        {% include "/partial/section/section-services.twig" %}
      {% elseif page.slug == 'cennik' %}
        {% include "/partial/section/section-price-list.twig" %}
      {% elseif page.slug == 'kontakt' %}
        {% include "/partial/section/section-contact.twig" %}
      {% endif %}
    </section>

  {% endfor %}
<!-- /content-wrapper -->
{% endblock %}
