@font-face
  font-family: 'Source Sans Pro'
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/subset-SourceSansPro-Light.woff2') format('woff2'), url('../fonts/subset-SourceSansPro-Light.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/subset-SourceSansPro-Regular.woff2') format('woff2'), url('../fonts/subset-SourceSansPro-Regular.woff') format('woff')
  font-weight: bold
  font-style: normal

html
  font-size: 90%
  @include breakpoint(medium)
    font-size: 100%

body
  font-family: 'Source Sans Pro', sans-serif
  font-weight: normal
  font-size: 1.4rem

a
  color: $red
  text-decoration: none
  transition: color ease-in-out 0.3s
  &:hover,
  &:focus
    color: darken($red, 30)
